* {
    color: white;
    font-family: "Roboto", sans-serif;
}
body {
   /* background-image: linear-gradient(to right,#C33764, #1D2671);*/
   background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    
}
.header {
    display:flex;
    align-items: center;
    justify-content: right;
    padding: 28px;
    font-size: 40px;
    gap: 40px;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  h3 {
    font-weight: normal;
    margin-right: auto
  }
  .front_page {
    display: flex;
    padding-left: 100px;
    padding-top: 100px;
    margin: 0;
  }
  .info_text {
    font-size: 58px;
    white-space: nowrap;
            overflow: hidden;
            animation: typewriter 4s steps(49)  ;
               
            border-right: 5px solid black;
        }
@keyframes typewriter {
            from {
                width: 0%;
            }
 
            to {
                width: 102%;
            }
        }
 
        
 
           
        
 
